{% extends 'helloworld/base.html' %}

{% block title %}
Абитуриенту
{% endblock %}

{% block content %}
    <h1>Абитуриенту</h1>
    <h4>Приемная кампания на 2022/2023 учебный год</h4>
    <p><font color="blue"><a href="https://zf.kai.ru/abitur/bachelor/">Высшее образование - бакалавриат</a></font></p>
    <font size="5">Информация о приемной комиссии </font>
    <p><b>Информация о местах приёма документов:</b></p>
    <p>ЗИМИТ КНИТУ-КАИ: РТ, г.Зеленодольск, ул.Гастелло, д.4, ауд. 114</p>
    <p><b>Телефон для справок:</b></p>
    <p>8(84371)4-24-97, 4-26-17</p>
    <p><b>График работы приемной комиссии:</b></p>
    <p>Пн.-Пт. - 8.00 - 17.00</p>
    <p>Сб. - 8.00 - 13.00</p>
    <p>Вс. - выходной</p>
{% endblock %}


