{% extends 'helloworld/base.html' %}

{% block title %}
Выпускнику
{% endblock %}

{% block content %}
    <font size="5"><b><center>Выпускнику</center></b></font>
    <p><a href="https://priceshop.ru/regions/Zelenodolsk.html">Каталог предприятий г. Зеленодольска и Республики Татарстан</a></p>
    <p><a href="http://alf-kai.ru/Files/Kontrakt.pdf">Вместо 1 года военной службы по призыву можно служить 2 года по контракту</a></p>
    <p><a href="https://jobkadrov.ru/vacancies/region/respublika-tatarstan_78">Работа для студентов от Центра Занятости Населения Республики Татарстан</a></p>
{% endblock %}
