{% extends 'helloworld/base.html' %}
{% block title %}
Главная страница
{% endblock %}
{% block content %}
            <h2>О кафедре</h2>
                <center><p><b>Заведующий кафедрой - Абзалов Артур Рудольфович</b></p>
                <img  src="https://avatars.mds.yandex.net/i?id=4818b3b1558421c5336e5eaa01581200-5877671-images-thumbs&n=13&exp=1"/></center>
                    <div>
                    <p>
                    Зеленодольский филиал Казанского государственного технического университета им. А.Н. Туполева создан приказом Министерства образования Российской Федерации от 23 апреля 2002 г. В 2009 году он переименован в Зеленодольский институт машиностроения и информационных технологий (филиал) государственного образовательного учреждения высшего профессионального образования Казанского государственного технического университета им. А.Н. Туполева.</p>
                    </div>
                <p>Ведется подготовка бакалавров по направлениям:</p>
                <p> - 09.03.01 Информатика и вычислительная техника.</p>
                <p> - 15.03.05 Конструкторскотиехнологическое обеспечение машиностроительных производств.</p><hr>
            <div>
            <p><b>Адрес:</b> 422542, Республика Татарстан, г.Зеленодольск, ул.Гастелло, д.4</p>
            <p><b>Телефон/факс:</b> 8(84371)4-26-17</p>
            <p><b>Часы работы:</b> Пн. - Пят. с 8.00 до 17.00,Сб. - с 8.00 до 12.00</p>
            </div><hr>
                <h2>Новости:</h2>
            {% if tasks %}
                {% for el in tasks %}
                    <div class="alert alert-warning mt-2">
                    <h3>{{ el.title }}</h3>
                    <p> {{ el.task }}</p>
                    </div>
                {% endfor %}
            {% endif %}
{% endblock %}

