{% extends 'helloworld/basetostudent.html' %}
{% block title %}
График учебного процесса
{% endblock %}
{% block info %}
        <font size="5"><b><center>График учебного процесса </center></b>
        </font>
        <p><b>График учебного процесса ВО: </b></p>
        <p><a href="https://zf.kai.ru/sveden/files/graf_09.03.01_31.08.21.pdf">- Информатика и вычислительная техника - очная форма обучения</a>
        </p>
        <p><a href="https://zf.kai.ru/sveden/files/graf_15.03.05_31.08.21.pdf">- Конструкторско-технологическое обеспечение машиностроительных производств - очная форма обучени</a>
        </p>
        <p><a href="https://zf.kai.ru/sveden/files/graf_38.03.01_31.08.21.pdf">- Экономика</a>
        </p>
{% endblock %}