{% extends 'helloworld/basetostudent.html' %}
{% block title %}
Стипендии и иные виды материальной поддержки
{% endblock %}
{% block info %}
        <font size="5"><b><center>Стипендии и иные виды материальной поддержки</center></b></font>
        <p><a href="https://zf.kai.ru/sveden/files/Prikaz_ob_utverghdenii_razmera_stipendii.pdf">Приказ образовательной организации об утверждении размера стипендии</a></p>
        <h4>Информация о стипендиях</h4>
        <style type="text/css">
               TABLE {
                border-collapse: collapse;
               }
               TD {
                padding: 3px;
                border: 1px solid black;
               }
        </style>
            <table border="1">
                <tr>
                    <td>Вид стипендии</td>
                    <td>Тип нормативного правового акта, регламентирующего стипендиальное обеспечение</td>
                    <td>Нормативный правовой акт, регламентирующий стипендиальное обеспечение</td>
                </tr>
                    <tr>
                        <td>Академическая, социальная и повышенная академическая стипендия</td>
                        <td>Положение о стипендиальном обеспечении и иных формах материальной поддержки обучающихся КНИУ-КАИ (локальное)</td>
                        <td><font color="blue"><a href="https://kai.ru/documents/131969/0/Prilozhenie_2_7284302_v1.pdf/4605a4b2-5864-46f6-bec3-d29bf970d032">Нормативный правовой акт</a></td>
                     </tr>
                <tr>
                        <td>Полное государственное обеспечение и дополнительные социальные гарантии для детей-сирот и оставшихся без попечения родителей</td>
                        <td>Положение (локальное)</td>
                        <td><font color="blue"><a href="https://kai.ru/documents/10181/6105689/%D0%9F%D0%BE%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5+%D0%BE+%D0%BF%D0%BE%D1%80%D1%8F%D0%B4%D0%BA%D0%B5+%D1%81%D0%BE%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B3%D0%BE+%D0%BE%D0%B1%D0%B5%D1%81%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D1%8F+%D0%B4%D0%B5%D1%82%D0%B5%D0%B9-%D1%81%D0%B8%D1%80%D0%BE%D1%82+%D0%B8+%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D1%88%D0%B8%D1%85%D1%81%D1%8F+%D0%B1%D0%B5%D0%B7+%D0%BF%D0%BE%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D1%8F+%D1%80%D0%BE%D0%B4%D0%B8%D1%82%D0%B5%D0%BB%D0%B5%D0%B9.pdf/4fcac2f8-06de-411c-bfdb-456b13de863b">Нормативный правовой акт</a></td>
                     </tr>
            </table>
{% endblock %}