{% extends 'helloworld/basetostudent.html' %}
{% block title %}
Студенческая жизнь
{% endblock %}
{% block info %}
        <p>В филиале создана социокультурная воспитывающая среда, способствующая развитию активного, профессионально компетентного гражданина, осознающего общественную значимость и личную ответственность за результаты собственной профессиональной деятельности. В вузе имеются объекты социальной и спортивной инфраструктуры: актовый зал, помещения для работы органов студенческого самоуправления,  спортивный зал. </p>
        <img src="https://zf.kai.ru/documents/12173206/12338640/8.jpg/871342dc-dc8b-4d31-8d14-e9484c28cdd8?t=1648534460837"
             style="width: 700px; height: 500px;" align="right"/>
        <p>Приоритетными направлениями воспитательной деятельности в филиале являются:</p>
        <p>-физическое воспитание и формирование здоровьесберегающей среды, здорового образа жизни;</p>
        <p>-гражданско-патриотическое, правовое воспитание;</p>
        <p>-духовно-нравственное воспитание;</p>
        <p>-эстетическое воспитание;</p>
        <p>-профессионально-трудовое воспитание;</p>
        <p>-экологическое воспитание;</p>
        <p>-интеллектуально-познавательное;</p>
        <p>-трудовое;</p>
        <p>-развитие самоуправления;</p>
        <p>-профориентационная деятельность;</p>
        <p>-индивидуальная работа с инвалидами;</p>
        <p>-работа со студентами группы риска, с социально- опасными семьями;</p>
        <p>-работа с родителями.</p>
                <img  src="https://zf.kai.ru/documents/12173206/12338640/11.jpg/ad372647-4f5a-406b-884e-1cdb788b3819?t=1648534461160"
                style="width:  400px; height: 250px;"/>
                <img  src="https://zf.kai.ru/documents/12173206/12338640/27.jpg/d05927e7-3a2e-4f1d-a36c-55437fb228b1?t=1648534463830"
                style="width:  400px; height: 250px;"/>
        <p>В филиале созданы и функционируют творческие коллективы и секции:</p>
        <p>-отряд волонтеров «Горячие сердца»;</p>
        <p>-команда «Брейн - клуб»;</p>
        <p>-студенческий трудовой отряд «Альтаир»;</p>
        <p>-арт- студия «Вдохновение»;</p>
        <p>-спорт клуб:</p>
        <p>-секция волейбола;</p>
        <p>-секция шахмат;</p>
        <p>-секция легкой атлетики;</p>
        <p>-секция настольного тенниса</p>
        <p>Целенаправленное развитие  коммуникативных и социальноличностных компетенций позволяет повышать самостоятельность и инициативность студентов, их заинтересованность в проявлении своих способностей. </p>
{% endblock %}
