{% extends 'helloworld/base.html' %}
{% block title %}
Студенту
{% endblock %}
{% block content %}
<header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/timetable" class="nav-link">Расписание занятий</a></li>
        <li class="nav-item"><a href="/schedule" class="nav-link">График учебного процесса</a></li>
        <li class="nav-item"><a href="/scholarship" class="nav-link">Стипендии и иные виды материальной поддержки</a></li>
        <li class="nav-item"><a href="/studentlife" class="nav-link">Студенческая жизнь</a></li>
      </ul>
    </header>
<p>В филиале развито студенческое самоуправление, которое представлено Студенческим советом, в который входит следующие организации:</p>
<p>1.     Президент – Тухватуллин Амир Ильхамович</p>
<p>2.     Заместитель президента  - Кирсанов Данил Андреевич</p>
<p>3.     Пресс-центр – Нестерова Анастасия Андреевеа</p>
<p>4.     Руководитель спортклуба _ Каравашкин Тимур Ильдарович</p>
<p>5.     Руководитель волонтерского отряда «ГОРЯЧИЕ СЕРДЦА» - Карпова Ксения Вадимовна, Нестерова Анастасия Андреевна</p>
<p>6.    Руководитель культурно-творческого направления – Файзуллина Гульназ Искандеровна</p>
<p>7.     Руководитель движения "Студенческие трудовые отряды" - Макаров Михаил Артемович</p>
<p>8.     «БРЕЙН-КЛУБ» - Тулаева Лиана Александровена</p>
<p>9.     Руководитель студенческой службы безопасности – Мазитова Алина Фанилевна</p>
<img  src="https://zf.kai.ru/documents/12173206/12338640/4.jpg/7d61e111-ef00-4013-bce1-8bc172d31dbd?t=1648534459040"
        style="width:  500px; height: 353px;"/>
<p>Также в филиале действуют коллективы, деятельность которых направлена на развитие интеллектуальных и творческих способностей.</p>
<img  src="https://zf.kai.ru/documents/12173206/12338640/15.jpg/5815c4aa-0c55-4a00-819f-3afadf794a6e?t=1648534461530"
        style="width:  500px; height: 353px;"/>
<img  src="https://zf.kai.ru/documents/12173206/12338640/17.jpg/47eb3bb9-114a-4ca2-a7d7-5673309c7e03?t=1648534462063"
        style="width:  500px; height: 353px;"/>
<p>Кроме того, в ЗИМИТ КНИТУ-КАИ осуществляется психолого-педагогическое сопровождение разных категорий обучающихся.</p>
<p>Проводится работа по:</p>
<p>сопровождению студентов с ОВЗ;</p>
<p>сопровождению детей-сирот и детей оставшихся без попечения родителей;</p>
<p>сопровождению студентов «группы риска».</p>
{% block info %} {% endblock %}
{% endblock %}
