{% extends 'helloworld/base.html' %}
{% block title %}
Преподавательский состав
{% endblock %}
{% block content %}
            <h2>Преподавательский состав</h2>
                <center><p><b>09.03.01 ИНФОРМАТИКА И ВЫЧИСЛИТЕЛЬНАЯ ТЕХНИКА</b></p></center>
                <style type="text/css">
                           TABLE {
                            border-collapse: collapse;
                           }
                           TD {
                            padding: 3px;
                            border: 1px solid black;
                           }
                </style>
            <table border="1">
                <tr>
                            <td>№</td>
                            <td>Фамилия, имя, отчество (при наличии) педагогического работника</td>
                            <td>Занимаемая должность (должности)</td>
                            <td>Преподаваемые учебные предметы, курсы, дисциплины (модули)</td>
                            <td>Уровень (уровни) профессионального образования</td>
                            <td>Квалификация</td>
                            <td>Учёная степень (при наличии)</td>
                            <td>Учёное звание (при наличии)</td>
                </tr>
                <tr>
                            <td>1</td>
                            <td>Абзалов Артур Рудольфович</td>
                            <td>заведующий кафедрой (МиИТ)</td>
                            <td>Участие в ГИА; Основы проектной деятельности; Теория решения изобретательских задач</td>
                            <td>высшее</td>
                            <td>инженер-механик</td>
                            <td>Кандидат технических наук</td>
                            <td>Доцент</td>
                </tr>
                <tr>
                            <td>2</td>
                            <td>Борисов Андрей Николаевич</td>
                            <td>доцент кафедры МИиТ по совместительству</td>
                            <td>Машинная арифметика и микропрограммное управление; Схемотехника ЭВМ; Конструкторско-технологическое обеспечение производства ЭВМ; Микроконтроллеры; Микропроцессорные системы; Периферийные устройства; Электронные вычислительные машины</td>
                            <td>высшее</td>
                            <td>инженер-электрик</td>
                            <td>Кандидат технических наук</td>
                            <td>Доцент</td>
                </tr>
                <tr>
                            <td>3</td>
                            <td>Геркусов Алексей Анатольевич</td>
                            <td>доцент кафедры МиИТ по совместительству</td>
                            <td>Электротехника и электроника</td>
                            <td>высшее</td>
                            <td>инженер-электрик</td>
                            <td>Кандидат технических наук</td>
                            <td>Доцент</td>
                </tr>
                <tr>
                            <td>4</td>
                            <td>Демина Альфия Шафиковна</td>
                            <td>старший преподаватель кафедры ЕГЭД</td>
                            <td>Физическая культура и спорт (элективная дисциплина)</td>
                            <td>высшее</td>
                            <td>педагог по физической культуре</td>
                            <td>Без ученой степени</td>
                            <td>Без учёного звания</td>
                </tr>
                <tr>
                            <td>5</td>
                            <td>Захаров Виктор Альбертович</td>
                            <td>старший преподаватель кафедры МиИТ</td>
                            <td>Защита информации; Базы данных; Сети и телекоммуникации; Структуры и алгоритмы обработки данных; Теория передачи сообщений; Языки опасания электронных схем; Проектирование пользовательского интерфейса; Производственная практика по получению профессиональных умений и опыта профессиональной деятельности; Производственная практика - технологическая; Производственная практика - преддипломная; Компьютерное моделирование систем; Объектно-ориентированное программирование; Операционные системы; Параллельное программирование; Системное программирование; Системное программное обеспечение; Технология программирования; Теория информации и кодирования; Информатика и основы информационных технологий</td>
                            <td>высшее</td>
                            <td>инженер-механик</td>
                            <td>Без ученой степени</td>
                            <td>Без учёного звания</td>
                </tr>
                <tr>
                            <td>6</td>
                            <td>Зиатдинова Гульназ Иршатовна</td>
                            <td>доцент кафедры ЕГЭД</td>
                            <td>Татарский язык и культура речи</td>
                            <td>высшее</td>
                            <td>филолог, преподаватель татарского языка и литературы</td>
                            <td>Кандидат филологических наук</td>
                            <td>Без учёного звания</td>
                </tr>
                <tr>
                            <td>7</td>
                            <td>Лутфуллина Нурия Мидхатовна</td>
                            <td>преподаватель</td>
                            <td>Иностранный язык</td>
                            <td>высшее</td>
                            <td>учитель английского и немецкого языков</td>
                            <td>Без ученой степени</td>
                            <td>Без учёного звания</td>
                </tr>
                <tr>
                            <td>8</td>
                            <td>Платонова Татьяна Евгеньевна</td>
                            <td>Вычислительная математика; Дискретная математика; Математическая логика и теория алгоритмов; Теория вероятностей и математическая статистика; Личностное развитие</td>
                            <td>Участие в ГИА; Основы проектной деятельности; Теория решения изобретательских задач</td>
                            <td>высшее</td>
                            <td>учитель математики</td>
                            <td>Кандидат педагогических наук</td>
                            <td>Доцент</td>
                </tr>
                <tr>
                            <td>9</td>
                            <td>Стяжкин Максим Николаевич</td>
                            <td>доцент кафедры ЕГЭД по совместительству</td>
                            <td>Организация и планирование производства</td>
                            <td>высшее</td>
                            <td>экономист</td>
                            <td>Кандидат экономических наук</td>
                            <td>Без учёного звания</td>
                </tr>
                <tr>
                            <td>10</td>
                            <td>Федотова Наталья Рувимовна</td>
                            <td>доцент кафедры МиИТ по совместительству</td>
                            <td>Безопасность жизнедеятельности; Экология</td>
                            <td>высшее</td>
                            <td>химик</td>
                            <td>Кандидат химических наук</td>
                            <td>Без учёного звания</td>
                </tr>
                <tr>
                            <td>11</td>
                            <td>Чезганова Светлана Геннадьевна</td>
                            <td>доцент кафедры ЕГЭД</td>
                            <td>Физика</td>
                            <td>высшее</td>
                            <td>астроном</td>
                            <td>Кандидат физико-математических наук</td>
                            <td>Без учёного звания</td>
                </tr>
                <tr>
                            <td>12</td>
                            <td>Щербаков Александр Васильевич</td>
                            <td>старший преподаватель кафедры МиИТ по совместительству</td>
                            <td>Моделирование в CAD/CAM системах; Инженерная графика; Компьютерная графика; Учебная практика - ознакомительная; Учебная практика - технологическая</td>
                            <td>высшее</td>
                            <td>инженер-механик</td>
                            <td>Без ученой степени</td>
                            <td>Без учёного звания</td>
                </tr>
                    </table>
                <center><p><b>15.03.05 КОНСТРУКТОРСКО-ТЕХНОЛОГИЧЕСКОЕ ОБЕСПЕЧЕНИЕ МАШИНОСТРОИТЕЛЬНЫХ ПРОИЗВОДСТВ</b></p></center>
                <style type="text/css">
                           TABLE {
                            border-collapse: collapse;
                           }
                           TD {
                            padding: 3px;
                            border: 1px solid black;
                           }
                </style>
            <table border="1">
                <tr>
                            <td>№</td>
                            <td>Фамилия, имя, отчество (при наличии) педагогического работника</td>
                            <td>Занимаемая должность (должности)</td>
                            <td>Преподаваемые учебные предметы, курсы, дисциплины (модули)</td>
                            <td>Уровень (уровни) профессионального образования</td>
                            <td>Квалификация</td>
                            <td>Учёная степень (при наличии)</td>
                            <td>Учёное звание (при наличии)</td>
                </tr>
                <tr>
                            <td>1</td>
                            <td>Абзалов Артур Рудольфович</td>
                            <td>заведующий кафедрой (МиИТ)</td>
                            <td>Участие в ГИА; Основы проектной деятельности; Теория решения изобретательских задач</td>
                            <td>высшее</td>
                            <td>инженер-механик</td>
                            <td>Кандидат технических наук</td>
                            <td>Доцент</td>
                </tr>
                <tr>
                            <td>2</td>
                            <td>Хасанов Радик Шавкятович</td>
                            <td>профессор кафедры ИиЦМП по совместительству</td>
                            <td>Включая подготовку к процедуре защиты и процедуру защиты; Защита выпускной квалификационной работы</td>
                            <td>высшее</td>
                            <td>инженер-механик</td>
                            <td>Кандидат экономических наук</td>
                            <td>Без учёного звания</td>
                </tr>
                <tr>
                            <td>3</td>
                            <td>Геркусов Алексей Анатольевич</td>
                            <td>доцент кафедры МиИТ по совместительству</td>
                            <td>Электротехника и электроника</td>
                            <td>высшее</td>
                            <td>инженер-электрик</td>
                            <td>Кандидат технических наук</td>
                            <td>Доцент</td>
                </tr>
                <tr>
                            <td>4</td>
                            <td>Демина Альфия Шафиковна</td>
                            <td>старший преподаватель кафедры ЕГЭД</td>
                            <td>Физическая культура и спорт (элективная дисциплина)</td>
                            <td>высшее</td>
                            <td>педагог по физической культуре</td>
                            <td>Без ученой степени</td>
                            <td>Без учёного звания</td>
                </tr>
                <tr>
                            <td>5</td>
                            <td>Захаров Виктор Альбертович</td>
                            <td>старший преподаватель кафедры МиИТ</td>
                            <td>Защита информации; Базы данных; Сети и телекоммуникации; Структуры и алгоритмы обработки данных; Теория передачи сообщений; Языки опасания электронных схем; Проектирование пользовательского интерфейса; Производственная практика по получению профессиональных умений и опыта профессиональной деятельности; Производственная практика - технологическая; Производственная практика - преддипломная; Компьютерное моделирование систем; Объектно-ориентированное программирование; Операционные системы; Параллельное программирование; Системное программирование; Системное программное обеспечение; Технология программирования; Теория информации и кодирования; Информатика и основы информационных технологий</td>
                            <td>высшее</td>
                            <td>инженер-механик</td>
                            <td>Без ученой степени</td>
                            <td>Без учёного звания</td>
                </tr>
                <tr>
                            <td>6</td>
                            <td>Зиатдинова Гульназ Иршатовна</td>
                            <td>доцент кафедры ЕГЭД</td>
                            <td>Татарский язык и культура речи</td>
                            <td>высшее</td>
                            <td>филолог, преподаватель татарского языка и литературы</td>
                            <td>Кандидат филологических наук</td>
                            <td>Без учёного звания</td>
                </tr>
                <tr>
                            <td>7</td>
                            <td>Лутфуллина Нурия Мидхатовна</td>
                            <td>преподаватель</td>
                            <td>Иностранный язык</td>
                            <td>высшее</td>
                            <td>учитель английского и немецкого языков</td>
                            <td>Без ученой степени</td>
                            <td>Без учёного звания</td>
                </tr>
                <tr>
                            <td>8</td>
                            <td>Платонова Татьяна Евгеньевна</td>
                            <td>Вычислительная математика; Дискретная математика; Математическая логика и теория алгоритмов; Теория вероятностей и математическая статистика; Личностное развитие</td>
                            <td>Участие в ГИА; Основы проектной деятельности; Теория решения изобретательских задач</td>
                            <td>высшее</td>
                            <td>учитель математики</td>
                            <td>Кандидат педагогических наук</td>
                            <td>Доцент</td>
                </tr>
                <tr>
                            <td>9</td>
                            <td>Стяжкин Максим Николаевич</td>
                            <td>доцент кафедры ЕГЭД по совместительству</td>
                            <td>Организация и планирование производства</td>
                            <td>высшее</td>
                            <td>экономист</td>
                            <td>Кандидат экономических наук</td>
                            <td>Без учёного звания</td>
                </tr>
                <tr>
                            <td>10</td>
                            <td>Федотова Наталья Рувимовна</td>
                            <td>доцент кафедры МиИТ по совместительству</td>
                            <td>Безопасность жизнедеятельности; Экология</td>
                            <td>высшее</td>
                            <td>химик</td>
                            <td>Кандидат химических наук</td>
                            <td>Без учёного звания</td>
                </tr>
                <tr>
                            <td>11</td>
                            <td>Чезганова Светлана Геннадьевна</td>
                            <td>доцент кафедры ЕГЭД</td>
                            <td>Физика</td>
                            <td>высшее</td>
                            <td>астроном</td>
                            <td>Кандидат физико-математических наук</td>
                            <td>Без учёного звания</td>
                </tr>
                <tr>
                            <td>12</td>
                            <td>Щербаков Александр Васильевич</td>
                            <td>старший преподаватель кафедры МиИТ по совместительству</td>
                            <td>Моделирование в CAD/CAM системах; Инженерная графика; Компьютерная графика; Учебная практика - ознакомительная; Учебная практика - технологическая</td>
                            <td>высшее</td>
                            <td>инженер-механик</td>
                            <td>Без ученой степени</td>
                            <td>Без учёного звания</td>
                </tr>
                <tr>
                            <td>13</td>
                            <td>Захаров Олег Геннадьевич</td>
                            <td>доцент кафедры МиИТ по совместительству</td>
                            <td>Проектирование машиностроительных производств; Металлообрабатывающие станки; Включая подготовку к процедуре защиты и процедуру защиты; Защита выпускной квалификационной работы; Производственная практика по получению профессиональных умений и опыта профессиональной деятельности; Процессы и операции формообразования; Работа в ГИА; Теория автоматического управления; Технологическая оснастка; Формообразующий инструмент</td>
                            <td>высшее</td>
                            <td>инженер</td>
                            <td>Кандидат технических наук</td>
                            <td>Без учёного звания</td>
                </tr>
                <tr>
                            <td>14</td>
                            <td>Иванова Вера Николаевна</td>
                            <td>доцент кафедры МиИТ по совместительству</td>
                            <td>Метрологическое обеспечение машиностроительных производств; Метрология; Нормирование точности в машиностроении; Стандартизация и сертификация</td>
                            <td>высшее</td>
                            <td>инженер-технолог</td>
                            <td>Кандидат химических наук</td>
                            <td>Доцент</td>
                </tr>
                <tr>
                            <td>15</td>
                            <td>Куртаева Фарида Наиловна</td>
                            <td>доцент кафедры МиИТ по совместительству</td>
                            <td>Материаловедение. Технология конструкционных материалов; Основы физико-технических методов обработки</td>
                            <td>высшее</td>
                            <td>Инженер химика технолога</td>
                            <td>Кандидат технических наук</td>
                            <td>Доцент</td>
                </tr>
                <tr>
                            <td>16</td>
                            <td>Одиноков Алексей Юрьевич</td>
                            <td>доцент кафедры МиИТ по совместительству</td>
                            <td>Сопротивление материалов</td>
                            <td>высшее</td>
                            <td>инженер-механик</td>
                            <td>Кандидат технических наук</td>
                            <td>Доцент</td>
                </tr>
                <tr>
                            <td>17</td>
                            <td>Стрельникова Ольга Ивановна</td>
                            <td>старший преподаватель кафедры МиИТ по совместительству</td>
                            <td>Детали машин</td>
                            <td>высшее</td>
                            <td>Инженер-технолог</td>
                            <td>Без ученой степени</td>
                            <td>Без учёного звания</td>
                </tr>

                    </table>
{% endblock %}

